@{
    ViewData["Title"] = "Support";
}
@* Syncfusion Essential JS 2 Styles *@
<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

@* Syncfusion Essential JS 2 Scripts *@
<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
<ejs-scripts></ejs-scripts>

<div class="row">
    <div class="col-md-3">
        <ejs-calendar id="calendar"></ejs-calendar>
    </div>
</div>
